body {
    margin: 0;
    padding: 0;
    font-family: 'CursiveSerifBold', Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 50px;
}

header {
    background-color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    display: block;
    align-items: center;
}

.header .logo img {
    width: 70px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    left: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: fixed;
    right: 20px;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 100px;
    margin-right: 100px;
    right: 20px;
    margin: 0;
    align-items: center;
    position: fixed;
    justify-content: center;
    justify-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #EC5A28;
}

main {
    width: 100%;
}

/* animation */
.animation {
    color: #fff;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.animation:hover {
    color: #EC5A28;
    text-shadow: #EC5A28 0 -10 10px;
}

.animul {
    list-style: none;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation: animating 2s infinite;
    position: relative;
    letter-spacing: 0;
}

.animul li {
    display: inline-block;
    margin: 0 0px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@keyframes animating {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*################################################################################
##################################### carousel 2 #################################
################################################################################*/
.carousel2 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
}

.carousel2ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

.carousel2ul li {
    display: inline-block;
    margin: 10 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation: animate2 10s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1000px);
    }
}

.carousel2ul li:hover {
    color: #EC5A28;
}
/*
iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
*/
.sipoint {
    display: flex;
    align-items: center;
    color: #fff;
}

.sipoint img {
    width: 100px;
    border-radius: 10%;
    align-items: center;
    display: block;
    box-shadow: #EC5A28 1px 1px 10px;
    border: 5px ridge #03093f;
}
/* carousel */
.carousel {
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
}

.carouselul {
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(1000px);
    }
}

.carouselul li {
    display: inline-block;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation: animate 30s infinite;
    overflow: hidden;
}

.carouselul li:hover {
    color: #EC5A28;
}

.carouselul li img {
    width: 100px;
    border-radius: 10%;
    align-items: center;
    box-shadow: #EC5A28 10px 10px 10px;
    border: 1px solid #EC5A28;
}

.carouselul li img:hover {
    box-shadow: #EC5A28 0px 0px 0px;
    border: 1px solid #EC5A28;
}

.carouselul li img:active {
    box-shadow: #EC5A28 0px 0px 0px;
    border: 1px solid #EC5A28;
}

.carouselul li img:visited {
    box-shadow: #EC5A28 0px 0px 0px;
    border: 1px solid #EC5A28;
}

.carouselul li img:link {
    box-shadow: #EC5A28 0px 0px 0px;
    border: 1px solid #EC5A28;
}

footer {
    background-color: #000;
    padding: 10px;
    position: bottom;
    position: fixed;
    width: 100%;
    display: block;
    align-items: center;
    bottom: 0;
}
